.App {
  font-family: sans-serif;
  text-align: center;
  height: max-content;
  /* background-color: rgb(246, 217, 153); */
  height: 100vh;
}

.map {
  display: flex;
  justify-content: center;
}
.headercontact {
  text-align: center;
}
.shopnamecontact {
  font-size: xx-large;
  font-weight: bolder;
}
.popup {
  display: flex;
  justify-content: center;
}
.namepricesearch {
  display: flex;
}
.searchresult {
  text-align: center;
}
.hinh {
  width: 300px;
  height: 210px;
  margin: 18px 0;
  border-radius: 10px;
  transition: 0.3s;
}

.name {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #feab0d;
  color: #ffffff;
  transition: 0.3s;
  box-shadow: 2px 2px 5px #333333;
  border-left: 1.5px solid #ffffff;
  border-top: 1.5px solid #ffffff;
}
.price {
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #feab0d;
  color: #ffffff;
  transition: 0.3s;
  box-shadow: 2px 2px 5px #333333;
  border-left: 1.5px solid #ffffff;
  border-top: 1.5px solid #ffffff;
}
.navheader {
  font-size: xx-large;
  align-items: center;
  height: max-content;
  background-color: rgba(246, 217, 153, 0.088);
  border-bottom: 2px solid #ffffff;
}
.header {
  height: max-content;
  background-color: rgb(246, 217, 153);
  font-family: sans-serif;
  background-color: #d28a04;
  border: 2px solid white;
}
.siteFooter {
  height: fit-content;
  width: 100% !important;
  margin: 0 !important;
  margin-top: 50px;
}
.navheader > * {
  text-decoration: none;
  color: white;
}
.card-search {
  background-color: rgb(246, 231, 182);
}
.custom-card-body {
  background-color: rgb(255, 235, 204, 0.7) !important;
}
.DropHealthy {
  padding-left: 10px;
  text-decoration: none;
}
.view {
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #feab0d;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2px 2px 5px #333333;
  border-left: 1.5px solid #ffffff;
  border-top: 1.5px solid #ffffff;
}
.view:hover {
  background-color: #d28a04;
}
.view:active {
  box-shadow: inset 2px 2px 5px #333333;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  float: none;
}
.homepage {
  text-align: center;
  /* background-color: bisque; */
}
.FoodShopmenu {
  font-size: 60px;
  font-family: cursive;
}
.detail {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.marginautu {
  margin: auto;
  display: flex;
}
.marginautu > * {
  margin: 0 70px;
}
img {
  border-radius: 20px;
  filter: drop-shadow(0 0 10px #e0c581);
}
.tenvagiasanpham {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.tenthanhphan {
  font-size: 20px;
  font-weight: 200;
  border-radius: 10px;
  background-color: #feab0d;
  width: 70%;
}
.tenthanhphan1 {
  font-size: 20px;
  font-weight: 200;
  border-radius: 10px;
  background-color: #feab0d;
  width: 60%;
  margin-left: 90px;
}
.giasanpham {
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #feab0d;
}
.cacsanphamchinh {
  width: fit-content;
  margin: 10px 77px;
}
.dichuyenanhsanpham > :nth-child(odd) {
  display: flex;
  justify-content: end;
}
.imgcareal {
  display: flex;
  justify-content: center;
  margin-left: 197px;
}
/* B edit 172 detail san pham */
.thongtin {
  text-align: left;
  font-size: x-large;
  font-family: Helvetica Neue;
}
.price1 {
  width: max-content;
  padding: 5px 10px;
  font-size: 30px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #fafafa;
  color: #ee4d2d;
  transition: 0.3s;
  box-shadow: #727171;
}
.buttonchitiet button {
  border-radius: 12px;
  margin-top: 12px;
  margin-right: 12px;
  border: 1px solid #ee4d2d;
  box-shadow: 2px 2px 5px rgb(63, 2, 2);
}
.buttonchitiet button:active {
  background-color: #b1acac;
}
.footerlink a {
  text-decoration: none;
}
.inputsearch {
  border-radius: 8px;
  width: 90%;
  height: 50px;

  border: none;
  outline: none;
  border-color: transparent;
}
.formsearch-border {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  margin: 0 auto;
}
.clicked:hover {
  background-color: #f0f0f0;
}
/* B edit 172 toi 202 */

.carousel-item {
  transition: transform 0.5s ease; /* Thời gian và kiểu chuyển động */
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transform: translateX(0); /* Dịch chuyển slide */
}
.maufooter {
  background-color: rgb(246, 217, 153);
}
.smooth {
  transition: all 0.3s ease 0s;
}
.smooth:hover {
  transform: translateY(-5px);
}
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(1px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(1px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease;
}
.image {
  transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

.image:hover {
  transform: scale(1.07); /* Phóng to hình ảnh khi di chuột vào */
  transform-origin: 50% 50%; /* Điểm neo ở giữa */
}
.carousel-item {
  transition: none !important; /* Bỏ hiệu ứng chuyển động */
}
.fixed-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Đảm bảo thanh header hiển thị trên cùng */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng cho thanh header */
}
