.App {
  font-family: sans-serif;
  text-align: center;
  height: max-content;
  /* background-color: rgb(246, 217, 153); */
  height: 100vh;
  overflow-x: hidden; /* vi change */
}

.map {
  display: flex;
  justify-content: center;
}
.headercontact {
  text-align: center;
}
.shopnamecontact {
  font-size: xx-large;
  font-weight: bolder;
}
.popup {
  display: flex;
  justify-content: center;
}
.namepricesearch {
  display: flex;
}
.searchresult {
  text-align: center;
}
.hinh {
  width: 300px;
  height: 210px;
  margin: 18px 0;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 2px 0 5px #333333;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

.name {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #feab0d;
  color: #ffffff;
  transition: 0.3s;
  box-shadow: 2px 2px 5px #333333;
  border-left: 1.5px solid #ffffff;
  border-top: 1.5px solid #ffffff;
}
.price {
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #feab0d;
  color: #ffffff;
  transition: 0.3s;
  box-shadow: 2px 2px 5px #333333;
  border-left: 1.5px solid #ffffff;
  border-top: 1.5px solid #ffffff;
}
.navheader {
  font-size: xx-large;
  align-items: center;
  height: max-content;
  background-color: rgba(246, 217, 153, 0.568);
  border-bottom: 2px solid #ffffff;
}
.header {
  height: max-content;
  background-color: rgb(246, 217, 153);
  font-family: sans-serif;
  height: max-content;
  background-color: #d28a04;
}
.siteFooter {
  height: fit-content;
  width: 100% !important;
  margin: 0 !important;
  margin-top: 50px;
}
.navheader > * {
  text-decoration: none;
  color: white;
}
.card-search {
  background-color: rgb(246, 231, 182);
}
.custom-card-body {
  background-color: rgb(255, 235, 204, 0.7) !important;
}
.DropHealthy {
  padding-left: 10px;
  text-decoration: none;
}
.view {
  padding: 10px 20px !important;
  margin: 10px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  border: none !important;
  border-radius: 10px !important;
  background-color: #feab0d !important;
  color: #ffffff !important;
  cursor: pointer !important;
  transition: 0.3s !important;
  box-shadow: 2px 2px 5px #333333 !important;
  border-left: 1.5px solid #ffffff !important;
  border-top: 1.5px solid #ffffff !important;
}
.view:hover {
  background-color: #d28a04 !important;
}
.view:active {
  box-shadow: inset 2px 2px 5px #333333 !important;
}
.product {
  display: flex;
  flex-direction: column;
  border-radius: 1px !important;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  /* justify-content: space-between; */
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  /* width: max-content; */
}
.homepage {
  text-align: center;
  /* background-color: bisque; */
}
.FoodShopmenu {
  font-size: 60px;
  background-image: url(/public/imgHeader/anhtest2.jpg) !important;
  background-size: cover !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  font-weight: 1200 !important;
  background-position: center !important;
  filter: drop-shadow(0 0 2px #000000) !important;
}
.detail {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.marginautu {
  margin: auto;
  display: flex;
}
.marginautu > * {
  margin: 0 70px;
}
img {
  border-radius: 20px;
  filter: drop-shadow(0 0 10px #e0c581);
}
.tenvagiasanpham {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.tenthanhphan {
  font-size: 20px;
  font-weight: 200;
  border-radius: 10px;
  background-color: #feab0d;
  width: 70%;
}
.tenthanhphan1 {
  font-size: 20px;
  font-weight: 200;
  border-radius: 10px;
  background-color: #feab0d;
  width: 60%;
  margin-left: 90px;
}
.giasanpham {
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #feab0d;
}
.cacsanphamchinh {
  width: fit-content;
  margin: 10px 77px;
}
.dichuyenanhsanpham > :nth-child(odd) {
  display: flex;
  justify-content: end;
}
.imgcareal {
  display: flex;
  justify-content: center;
  margin-left: 197px;
}
.divlogin{
  display: flex;
  justify-content: center;
}
/* B edit 172 detail san pham */
.thongtin {
  text-align: left;
  font-size: x-large;
  font-family: Helvetica Neue;
}
.price1 {
  width: max-content;
  padding: 5px 10px;
  font-size: 30px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #fafafa;
  color: #ee4d2d;
  transition: 0.3s;
  box-shadow: #727171;
}
.buttonchitiet button {
  border-radius: 12px;
  margin-top: 12px;
  margin-right: 12px;
  border: 1px solid #ee4d2d;
  box-shadow: 2px 2px 5px rgb(63, 2, 2);
}
.buttonchitiet button:active {
  background-color: #b1acac;
}
.footerlink a {
  text-decoration: none;
}
.search-container {
  background: rgb(246, 231, 182);
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
#search-icon {
  opacity: 0.5 !important;
}
.search-container:hover > .inputsearch {
  width: 300px;
}
.search-container .inputsearch {
  background: transparent;
  border: none;
  outline: none;
  width: 10px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}
.search-container .search-btn .fas {
  color: #835c4d;
}
.search-btn {
  display: flex;
}
.innersearch {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
.search-container:hover {
  animation: 0.15s linear 5;
}
.searchform {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* width: max-content; */
}
.clicked:hover {
  background-color: #d28a04;
}
Link {
  text-decoration: none;
}
.menuoffcanvas {
  text-decoration: none;
}
.textheader:hover {
  color: #000000;
  cursor: pointer;
}
.textheader:active {
  color: #2b2a2a;
}
.custom-dropdown-toggle{
 background-color: #E7B759 !important;
 border: none !important;
 color: #ffffff !important;
 font-size: 35px !important;
 display: flex !important;
 align-items: center !important;
}
.custom-dropdown-toggle:hover{
  color: rgb(0, 0, 0) !important;
}
/* B edit 172 toi 202 */

.carousel-item {
  transition: transform 0.5s ease; /* Thời gian và kiểu chuyển động */
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transform: translateX(0); /* Dịch chuyển slide */
}
.trangchubg img{
  width: 100%;
  height: 700px;
}
.maufooter {
  background-color: rgb(246, 217, 153);
}
.smooth {
  transition: all 0.3s ease 0s;
}
.smooth:hover {
  transform: translateY(-5px);
}
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(1px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(1px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  Carousel-item {
    transition-duration: 2s; /* Adjust the duration as needed */
  }
}
.noresult {
  font-size: 30px;
  font-weight: 600;
  align-items: center;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 55, 255, 0.44);
  border-radius: 30px;
  overflow: scroll;
}

::-webkit-scrollbar-track {
  background-color: #bdb19a;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease;
}
.image {
  transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

.image:hover {
  transform: scale(1.07); /* Phóng to hình ảnh khi di chuột vào */
  transform-origin: 50% 50%; /* Điểm neo ở giữa */
}
.carousel-item {
  transition: none !important; /* Bỏ hiệu ứng chuyển động */
}
.fixed-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Đảm bảo thanh header hiển thị trên cùng */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng cho thanh header */
}
.hinhchuyendongtrangchu{
  transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động */
  height: 550px;
  width:100%;
  text-align: center;
  border-radius: 1px !important;
}
.offcanvas-menu {
  background-color:white; /* Màu nền */
  padding: 20px; /* Khoảng cách nội dung từ viền */
}

.offcanvas-menu h3 {
  margin: 30px 0; /* Khoảng cách giữa các mục */
}

.offcanvas-menu a {
  color: #333; /* Màu văn bản */
  transition: color 0.3s ease; /* Hiệu ứng chuyển đổi màu khi hover */
}

.offcanvas-menu a:hover {
  color: red; /* Màu văn bản khi hover */
}
.chinhmauchomenu{
  background-color:rgb(246, 217, 153);
}